/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.body {
  margin-top: 55px;
}

p, ol, ul, td {
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 33px;
  line-height: 18px;
}

.table tbody tr th {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.row::after .row::before {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

.header-logo {
  height: 50px;
  font-size: 20px;
  color: white;
  margin: 0;
  line-height: 50px;
}

#notice {
  color: green;
}

#error_explanation {
  color: red;

  ul {
    margin: 0;
    margin-left: 2em;
    margin-bottom: 1em;
  }
}

h2 {
  font-size: 30px;
}

p {
  margin: 0 0 10px;
}

.field, .actions {
  margin-bottom: 10px;
}